<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Hashtag Emotion Visualization</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/chart_style.css">

</head>

<body>
  <!-- NOTE: May have to include hidden input for hashtag to make request with to server to start stream -->
  <!-- <input type="hidden" id="hashtag_id" value={{hashtag}}> -->

  <input type="hidden" value= {{values}} id='frequencies'>
  <input type="hidden" value= {{labels}} id='emotion_classes'>

  <div class="wrapper">
    <div class="container d-flex flex-column justify-content-center align-items-center">
      <div class="title text-center mb-5">
        <h1>How Does Twitter Feel About: </h1>
        <h6> INSERT LIST OF HASHTAGS HERE </h6>

      </div>
      <div class="chart-wrapper">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>

     // const axios = require('axios')

      // window.onload = function() {

      var frequencies = $('#frequencies').val();
      var emotion_classes = $('#emotion_classes').val();

        // const getData = async() => {
        //   try {
        //     return await axios.get('http://127.0.0.1:5000/get_data')
        //   } catch (error) {
        //     console.error(error)
        //   }
        // }

     // console.log($`getData: ${getData}`)

      let ctx = document.getElementById('myChart').getContext('2d');
      let colorHex = ['#a91834', '#4B1858', '#ffffff', '#00daff', '#006633', '#8cff1f', '#000000', '#d86a77', '#EEEEEE', '#a9b6aa', '#f3d8a5', '#353D5B', '#97bd91'];

      console.log("HELLO")
      console.log(`values: ${frequencies}`);
      console.log(`labels: ${labels}`);

      // May not need iterative rendering, just assign passed in array values
      // https://www.patricksoftwareblog.com/creating-charts-with-chart-js-in-a-flask-application/

      let myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          datasets: [{
          data : frequencies,
            backgroundColor: colorHex
          }],
          labels: emotion_classes
        },
        options: {
          responsive: true,
          legend: {
            position: 'bottom'
          },
          plugins: {
            datalabels: {
              color: '#fff',
              anchor: 'end',
              align: 'start',
              offset: -10,
              borderWidth: 2,
              borderColor: '#fff',
              borderRadius: 25,
              backgroundColor: (context) => {
                return context.dataset.backgroundColor;
              },
              font: {
                weight: 'bold',
                size: '10'
              },
              formatter: (value) => {
                return value + ' %';
              }
            }
          }
        }
      })


  // } // End Window onload
  </script>

  <!-- <script src="../static/js/pie_script.js"></script> -->
</body>

</html>
